<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="dbConexion" connectionString="Data Source=76.74.150.83,1433;Initial Catalog=Prorrateo;Persist Security Info=True;User ID=admin;Password=2020" />
  </connectionStrings>
</configuration>