<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Prorrateo.Presentacion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Prorrateo.Presentacion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>


  <connectionStrings>
    <add name="dbConexion" connectionString="Data Source=ZCOLSQL01;Initial Catalog=Prorrateo;Persist Security Info=True;User ID=Sa;Password=Sa123456"/>
  </connectionStrings>


  <applicationSettings>
    <Prorrateo.Presentacion.My.MySettings>
      <setting name="Prorrateo_Presentacion_WSGT_wsGenerarPlano" serializeAs="String">
        <value>http://76.74.150.83:8081/GTIntegration/ServiciosWeb/wsGenerarPlano.asmx</value>
      </setting>
      <setting name="rutaPlanos" serializeAs="String">
        <value>C:\inetpub\wwwroot\ServiciosWeb\GTIntegration\Planos\</value>
      </setting>
      <setting name="Prorrateo_Presentacion_WSUNOEE_WSUNOEE" serializeAs="String">
        <value>http://localhost/WSUNOEE/WSUNOEE.asmx</value>
      </setting>
    </Prorrateo.Presentacion.My.MySettings>
  </applicationSettings>
  <userSettings>
    <Prorrateo.Presentacion.My.MySettings>
      <setting name="IdCia" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UsuarioGT" serializeAs="String">
        <value>gt</value>
      </setting>
      <setting name="ClaveGT" serializeAs="String">
        <value>gt</value>
      </setting>
      <setting name="UsuarioSiesa" serializeAs="String">
        <value>Medipto01</value>
      </setting>
      <setting name="ClaveSiesa" serializeAs="String">
        <value>1qaw3eD.</value>
      </setting>
      <setting name="ConexionSiesa" serializeAs="String">
        <value>Real</value>
      </setting>
      <setting name="UsuarioAplicacion" serializeAs="String">
        <value>zambon</value>
      </setting>
      <setting name="Clave" serializeAs="String">
        <value>123456</value>
      </setting>
    </Prorrateo.Presentacion.My.MySettings>
  </userSettings>
</configuration>
